---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Nasza polityka prywatności pomoże Ci zrozumieć, jakie informacje są gromadzone i w jaki sposób są wykorzystywane."
  title="Polityka prywatności · Art-Bruk"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Polityka Prywatności</h1>
      <p class="text-base">Ostatnia aktualizacja: 22 lutego 2025</p>
    </div>
    <div>
      <p class="mb-4">
        W Art-Bruk dbamy o ochronę Twojej prywatności. Niniejsza Polityka Prywatności określa, jakie
        informacje gromadzimy, w jaki sposób je wykorzystujemy i chronimy, gdy korzystasz z naszej
        strony internetowej. Prosimy o zapoznanie się z niniejszym dokumentem, aby lepiej zrozumieć
        nasze praktyki.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Jakie informacje zbieramy</h2>
      <p class="mb-6">
        Możemy gromadzić następujące rodzaje danych osobowych, gdy korzystasz z naszej strony
        internetowej:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Informacje podane przez Ciebie: Podczas rejestracji, zakładania konta lub korzystania z
          określonych funkcji możemy poprosić o podanie imienia i nazwiska, adresu e-mail, danych
          kontaktowych oraz innych istotnych informacji.
        </li>
        <li>
          Dane dotyczące użytkowania: Możemy zbierać informacje o sposobie korzystania z naszej
          strony internetowej, w tym m.in. adres IP, typ przeglądarki, dane urządzenia, odwiedzone
          strony i interakcje z treściami.
        </li>
        <li>
          Pliki cookie i podobne technologie: Wykorzystujemy pliki cookie i podobne technologie w
          celu poprawy jakości usług, analizy wzorców użytkowania oraz ulepszania naszej strony
          internetowej.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">
        2. W jaki sposób wykorzystujemy Twoje dane
      </h2>
      <p class="mb-4">Twoje dane osobowe mogą być wykorzystywane w następujących celach:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Świadczenie i ulepszanie naszych usług: Twoje dane pomagają nam dostarczać
          spersonalizowane i przyjazne dla użytkownika doświadczenie.
        </li>
        <li>
          Komunikacja: Możemy wykorzystywać Twój adres e-mail lub dane kontaktowe do wysyłania
          ważnych informacji, newsletterów i treści promocyjnych. Możesz zrezygnować z tych
          wiadomości w dowolnym momencie.
        </li>
        <li>
          Analiza: Wykorzystujemy zagregowane i zanonimizowane dane do analizy zachowań użytkowników
          oraz ulepszania naszej strony internetowej.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Kontakt</h2>
      <p class="mb-4">
        Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące naszej Polityki Prywatności,
        skontaktuj się z nami pod adresem <a href="mailto:p.finke@op2.pl">p.finke@op2.pl</a>.
      </p>
    </div>
  </div>
</Layout>
